/* style.css */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px;


}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    margin-left: 32px;
    font-weight: bolder;
}

.button-one {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 4px;
    color: #F9FAF8;
    display: flex;

}

.awesome {
    background-color: #1F2937;
    margin-top: -20px;
    color: #E5E7EB;
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.maintext {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: -20px;
}

.city {
    width: 750px;
    height: auto;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.four-pictures {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.text {
    max-width: 200px;
}

.image-one {
    width: 200px;
    height: auto;
}

.image-two {
    width: 200px;
    height: auto;
}

.image-three {
    width: 200px;
    height: auto;
}

.image-four {
    width: 200px;
    height: auto;
}